.app-search {
  position:relative;
  float:left;
  margin:13px 0 0 15px;
  
  > form {
    float:left;
    background:$appSearchBackground;
    color:$appSearchColor;
    height:24px;
    border-radius:0 0 5px 5px;
  }

  .infield {
    color:$infieldLabelColor;
    padding:4px 5px;
    font-size:14px;
  }

  select {
    float:left;
    width:90px;
  }

  input[type="search"] {
    float:left;
    width:120px;
    height:100%;
    font-size:14px;
    border-right-width:0;
    border-left-width:0;
    border-radius:3px 0 0 3px;
  }

  input[type="submit"] {
    float:left;
    background:$appSearchButtonBackground;
    border:0;
    color:$appSearchButtonColor;
    height:100%;
    font-weight:bold;
    border-radius:0 3px 3px 0;

    &:hover, &:focus {
      background:$appSearchButtonHoverBackground;
    }
  }
}

#id_type_chzn {
  float:left;
  height:24px;

  > a {
    display:block;
    height:24px;
    border:0;
    border-left:1px solid $thickWhite;
    border-right:0;
    border-radius:0;
  }
}