.app-search {
  position:relative;
  
  > form {
    float:left;
    background:$appSearchBackground;
    color:$appSearchColor;
    padding:5px 10px 8px 10px;
    height:26px;
    border-radius:0 0 5px 5px;
  }

  .infield {
    color:$infieldLabelColor;
    padding:5px 6px;
  }

  select {
    float:left;
  }

  input[type="search"] {
    float:left;
    width:218px;
    height:100%;
    border-right-width:0;
    border-radius:3px 0 0 3px;
  }

  input[type="submit"] {
    float:left;
    background:$appSearchButtonBackground;
    border:0;
    color:$appSearchButtonColor;
    height:100%;
    font-weight:bold;
    border-radius:0 3px 3px 0;

    &:hover, &:focus {
      background:$appSearchButtonHoverBackground;
    }
  }
}