.app-notify {
  position:fixed;
  z-index:5;
  right:0;
  top:64px;
}

.app-notifications {
  width:0;
  overflow:visible;

  > li {
    background:#000;
    color:#fff;
    margin-bottom:4px;
    padding:5px 10px;
    float:right;
    clear:right;
    width:220px;
    font-size:12px;
  }
}