.app-nav {
  color:$appNavColor;
  float:right;

  > li {
    float:left;
  }

  a {
    color:$appNavColor;
    text-decoration:none;
    display:block;
    padding:0 15px;
    line-height:48px;

    &:hover, &:focus {
      text-decoration:underline;
    }
  }
}

.modal-container {
  .signup-form, .login-form {
    width:180px;
  }
}