.app-nav {
  color:$appNavColor;
  float:right;
  height:50px;

  > li {
    float:left;
    margin:0;
    height:100%;
  }

  a {
    color:$appNavColor;
    text-decoration:none;
    display:block;
    height:100%;
    line-height:50px;
    padding:0 8px;

    &:hover, &:focus {
      background:$appNavHoverBackground;
    }
  }
}

.app-shelves {
  cursor:default;
}

.dropdown .new-shelf {
  border-top:1px solid $thinWhite;
  margin-top:8px;
  padding-top:8px;

  span {
    font-weight:bold;
    color:$thinWhite;
  }
}

.modal-container {
  .signup-form, .login-form {
    width:200px;
  }
}