.book-page {
  .book-title {
    font-size:24px;
    line-height:1;
    margin-bottom:4px;
  }

  .book-author {
    font-style:italic;
    margin-bottom:16px;
    color:$bookAuthorColor;
  }
  
  p {
    margin-bottom:16px;
  }

  .book-published, .book-source {
    font-size:12px;
  }
}