.book-page {
  .book-title {
    font-size:24px;
    line-height:1;
    margin-bottom:4px;
  }

  .book-author {
    font-style:italic;
    margin-bottom:16px;
    color:$bookAuthorColor;
  }
  
  p {
    margin-bottom:16px;
  }
}

.book-main {
  width:420px;
}

.book-meta {
  float:right;
  width:240px;
  padding:10px;
  background:$bookMetaBackground;
  border-radius:3px;
  word-wrap:break-word;

  .cover_large {
    display:block;
    width:100%;
    margin-bottom:8px;
  }

  .book-published, .book-source, .book-subjects {
    font-size:12px;
    margin-bottom:2px;
  }
}

#push_shelf_id {
  max-width:220px;
}

.add-to-shelf-form {
  .button {
    font-size:12px;
  }
}

.book-reader {
  display:block;
  width:600px;
  height:400px;
}

