// $ribbonYellow: #fe4;

$baseWhite: #fff;
$baseBlue: rgb(0,122,204);
$baseOrange: rgb(255,102,0);
$baseDark: #135;
$baseGreen: #2fbd05;
$baseRed: #a41034;

$thinBlue: transparentize($baseBlue, .7);
$thinWhite: transparentize($baseWhite, .7);
$thinDark: transparentize($baseDark, .7);
$thinOrange: transparentize($baseOrange, .7);
$thinGreen: transparentize($baseGreen, .7);
$thinRed: transparentize($baseRed, .7);

$thickBlue: transparentize($baseBlue, .3);
$thickWhite: transparentize($baseWhite, .3);
$thickDark: transparentize($baseDark, .3);
$thickOrange: transparentize($baseOrange, .3);
$thickGreen: transparentize($baseGreen, .3);
$thickRed: transparentize($baseRed, .3);

// ---------------------------

$appHeaderBackground: $baseBlue;

$appNavColor: $baseWhite;
$appNavHoverBackground: $thinDark;

$appSearchBackground: $baseBlue;
$appSearchColor: $baseDark;
$appSearchButtonBackground: $thinWhite;
$appSearchButtonColor: $baseWhite;
$appSearchButtonHoverBackground: $thinDark;

$bodyBackground: $baseWhite;
$bodyColor: $baseDark;

$bookAuthorColor:$thickDark;
$bookMetaBackground:$thinBlue;
$bookPreviewAuthorColor:$thickDark;

$buttonDefaultBackground: $thickBlue;
$buttonDefaultColor: $baseWhite;
$buttonDefaultBorder: $thinBlue;
$buttonDefaultHoverBackground: $baseBlue;
$buttonDefaultHoverColor: $baseWhite;
$buttonDefaultHoverBorder: $baseBlue;

$deleteReviewColor: $thinRed;
$deleteReviewHoverColor: $baseRed;
$deleteUserHoverBackground: $thickRed;
$deleteUserHoverBorder: $thinRed;

$dropdownBackground: #000;
$dropdownColor: #fff;

$formErrorColor: $baseRed;
$formFieldBorder: $thinBlue;

$infieldLabelColor: $baseDark;

$linkColor: $baseBlue;

$logoColor: $baseWhite;

$modalCloseBackground: $thinDark;
$modalCloseColor: $baseWhite;
$modalCloseHoverBackground: $thickDark;
$modalHeaderBackground: $baseBlue;
$modalHeaderColor: $baseWhite;
$modalFooterBackground: $thinBlue;
$modalFooterColor: $baseDark;
$modalOverlayBackground: $thickDark;
$modalWrapperBackground: $baseWhite;

$notificationErrorBackground: $baseRed;
$notificationErrorColor: $baseWhite;
$notificationNoticeBackground: $baseBlue;
$notificationNoticeColor: $baseWhite;
$notificationSuccessBackground: $baseGreen;
$notificationSuccessColor: $baseWhite;

$reviewsListBorder: $thinBlue;
$reviewBackground: transparentize($baseBlue, .9);

$shelfActionsColor: $thickWhite;
$shelfActionsHoverColor: $baseWhite;
$shelfOverviewHeaderBackground: $thickBlue;
$shelfOverviewHeaderHoverBackground: $baseBlue;
$shelfOverviewHeaderColor: $baseWhite;

$stackItemDeleteColor: $thinRed;
$stackItemDeleteHoverColor: $baseRed;