$baseWhite: #fff;
$crimson: #a41034;
$ribbonYellow: #fe4;
$mainBlue: rgb(0,122,204);
$baseText: #035;
$thinBlue: transparentize($mainBlue, .7);
$thinWhite: transparentize($baseWhite, .7);
$thinText: transparentize($baseText, .7);

// ---------------------------

$appHeaderBackground: $mainBlue;

$appNavColor: $baseWhite;
$appNavHoverBackground: $thinWhite;

$appSearchBackground: $mainBlue;
$appSearchColor: $baseText;
$appSearchButtonBackground: $thinWhite;
$appSearchButtonColor: $baseWhite;
$appSearchButtonHoverBackground: $thinText;

$bodyBackground: $baseWhite;
$bodyColor: $baseText;

$buttonDefaultBackground: #000;
$buttonDefaultColor: #fff;
$buttonDefaultBorder: #000;
$buttonDefaultHoverBackground: #fff;
$buttonDefaultHoverColor: #000;
$buttonDefaultHoverBorder: #000;

$dropdownBackground: #000;
$dropdownColor: #fff;

$formFieldBorder: $thinBlue;

$infieldLabelColor: $baseText;

$logoColor: $baseWhite;

$modalCloseBackground: #000;
$modalCloseColor: #fff;
$modalHeaderBackground: #000;
$modalHeaderColor: #fff;
$modalFooterBackground: #000;
$modalFooterColor: #fff;
$modalOverlayBackground: #000;
$modalWrapperBackground: #fff;

$notificationErrorBackground: #000;
$notificationErrorColor: #fff;
$notificationNoticeBackground: #000;
$notificationNoticeColor: #fff;
$notificationSuccessBackground: #000;
$notificationSuccessColor: #fff;

$reviewBorder: #000;

$shelfActionsColor: #fff;
$shelfOverviewHeaderBackground: #000;
$shelfOverviewHeaderColor: #fff;