.dropdown {
  position:relative;

  > ul {
    display:none;
    position:absolute;
    right:-10px;
    top:100%;
    padding:10px;
    min-width:100%;
    background:$dropdownBackground;
    color:$dropdownColor;

    > li {
      margin:0;
    }
  }

  a {
    color:$dropdownColor;
  }

  &:hover, &:focus {
    > ul {
      display:block;
    }
  }
}