@font-face {
  font-family: 'FontAwesome';
  src: url('font/fontawesome-webfont.eot?v=3.0.1');
  src: url('font/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('font/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('font/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$sansFontStack: 'Helvetica Neue', sans-serif;
$appGutterWidth: 40px;

html {
  height:100%;
}

body {
  font-family:$sansFontStack;
  height:100%;
  line-height:1.5;
}

h1 {
  font-size:36px;
}

label {
  display:block;
  font-size:12px;
  font-weight:bold;
  line-height:1.5;
}

input[type="text"], input[type="email"], input[type="password"] {
  box-sizing:border-box;
  width:100%;
  padding:5px;
}

.clearfix {
  *zoom:1;

  &:before, &:after {
    content:" ";
    display:table;
  }

  &:after {
    clear:both;
  }
}

.app-container {
  min-height:100%;
  position:relative;
  z-index:1;
}

.app-header {
  background:$appHeaderBackground;

  h1 {
    float:left;

    > a {
      color:$logoColor;
      text-decoration:none;
    }
  }
}

.app-main {
  padding-top:32px;
}

.form-row {
  display:block;
  padding:8px 0;
}

.button {
  display:inline-block;
  padding:5px 10px;
  background:#000;
  color:#fff;
  text-decoration:none;
  border:1px solid #000;

  &:hover, &:focus {
    background:#fff;
    color:#000;
  }
}
