.app-modal {
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background:#000;
  display:none;
  z-index:2;

  &.showing {
    display:block;
  }
}

.modal-wrapper {
  position:absolute;
  background:#fff;
  padding:40px 30px 10px 30px;

  > .modal-close {
    position:absolute;
    z-index:9;
    top:5px;
    right:5px;
    width:15px;
    height:15px;
    line-height:13px;
    font-size:12px;
    font-weight:bold;
    text-align:center;
    display:block;
    background:#000;
    color:#fff;
    text-decoration:none;
  }

  .modal-header {
    position:absolute;
    left:0;
    right:0;
    top:0;
    height:30px;
    line-height:30px;
    font-size:16px;
    font-weight:bold;
    background:#000;
    color:#fff;
    text-indent:30px;
  }
}