.app-modal {
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background:#000;
  display:none;
  z-index:2;

  &.showing {
    display:block;
  }
}

.modal-container {
  position:absolute;
  background:#fff;
}