.reviews-list {
  h2 {
    @extend .accessible-hide;
  }
}

.review {
  border:1px solid $reviewBorder;
  padding:10px;
  margin-bottom:16px;

  h3 {
    font-size:18px;
    font-weight:bold;
  }

  .star-rating {
    float:right;
  }
}

.star-rating {
  font-family:'FontAwesome';
}

.review-comment {
  white-space:pre-wrap;
}

.new-review {
  textarea {
    height:116px;
  }
}