.new-shelf-form {
  input[type="text"] {
    width:200px;
    float:right;
    border-right-width:0;
  }

  input[type="submit"] {
    float:right;
    font-family:sans-serif;
    font-weight:bold;
  }

  label.infield {
    padding:6px;
  }
}

.shelves-list {
  margin-top:32px;
}

.shelf-overview {
  margin-bottom:24px;

  &.editing {
    .shelf-overview-content {
      display:none;
    }
  }
}

.update-shelf-form {
  display:none;

  .shelf-overview.editing & {
    display:block;
  }
}

.shelf-overview-header {
  margin-bottom:8px;
  position:relative;

  > h3 > a {
    display:block;
    font-size:18px;
    font-weight:bold;
    text-decoration:none;
    background:$shelfOverviewHeaderBackground;
    color:$shelfOverviewHeaderColor;
    padding:0 50px 0 5px;

    &:hover, &:focus {
      background:$shelfOverviewHeaderHoverBackground;
    }
  }
}

.shelf-actions {
  position:absolute;
  right:0;
  top:3px;
  z-index:3;

  li {
    float:right;
    margin-right:5px;
  }

  a {
    font-family:'FontAwesome';
    color:$shelfActionsColor;
    text-decoration:none;

    &:hover, &:focus {
      color:$shelfActionsHoverColor;
    }
  }

  .delete-shelf {
    position:relative;
    top:-1px;

    &:hover, &:focus {
      color:$thickRed;
    }
  }
}

.stackview .stack-item-delete {
  font-family:'FontAwesome';
  position:absolute;
  display:block;
  right:-24px;
  top:50%;
  margin-top:-12px;
  cursor:pointer;
  color:$stackItemDeleteColor;

  &:hover, &:focus {
    color:$stackItemDeleteHoverColor;
  }
}