.stack-wrapper {
  position:relative;
}

.stackview {
  .stack-item {
    -webkit-transition:left 200ms ease-in-out;
    -moz-transition:left 200ms ease-in-out;
    transition:left 200ms ease-in-out;
  }

  .stack-pivot {
    left:8px;

    .stack-item-link {
      cursor:default;
      pointer-events:none;
    }
  }

  .stack-items {
    padding-top:6px;
    overflow-y:scroll;
  }

  &:before {
    content:'';
    display:block;
    position:absolute;
    left:0;
    right:0;
    top:0;
    height:6px;
    z-index:9;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
  }
}