.stackview {
  .stack-pivot {
    a {
      background-color:$baseOrange;
      text-shadow:0 -1px darken($baseOrange, 20%);
      border-color:darken($baseOrange, 20%);
      cursor:default;
    }

    .stack-pages {
      border-color:darken($baseOrange, 20%);

      &:after {
        border-bottom-color:lighten($baseOrange, 20%);
      }
    }

    .stack-cover {
      background-color:$baseOrange;
      border-color:darken($baseOrange, 20%);
    }
  }
}