.user-settings {
  width:180px;
  
  .modal-footer {
    padding:0 0 0 60px;
  }

  .delete-user {
    float:right;
    font-family:'FontAwesome';

    &:hover, &:focus {
      background:$deleteUserHoverBackground;
      border-color:$deleteUserHoverBorder;
    }
  }
}