/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Snippets from normalize.css - git.io/normalize */
button, input {
  line-height: normal; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

@font-face {
  font-family: 'FontAwesome';
  src: url("font/fontawesome-webfont.eot?v=3.0.1");
  src: url("font/fontawesome-webfont.eot?#iefix&v=3.0.1") format("embedded-opentype"), url("font/fontawesome-webfont.woff?v=3.0.1") format("woff"), url("font/fontawesome-webfont.ttf?v=3.0.1") format("truetype");
  font-weight: normal;
  font-style: normal; }

html {
  height: 100%; }

body {
  font-family: "Helvetica Neue", sans-serif;
  height: 100%;
  line-height: 1.5; }

h1 {
  font-size: 36px; }

label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5; }

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  border: 1px solid black;
  margin: 0;
  font-family: "Helvetica Neue", sans-serif; }

input[type="submit"], button {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif; }

.clearfix, .layout-wrapper, .shelf-overview-header {
  *zoom: 1; }
  .clearfix:before, .layout-wrapper:before, .shelf-overview-header:before, .clearfix:after, .layout-wrapper:after, .shelf-overview-header:after {
    content: " ";
    display: table; }
  .clearfix:after, .layout-wrapper:after, .shelf-overview-header:after {
    clear: both; }

.app-container {
  min-height: 100%;
  position: relative;
  z-index: 1; }

.app-header {
  background: black; }
  .app-header h1 {
    float: left; }
    .app-header h1 > a {
      color: white;
      text-decoration: none; }

.app-main {
  padding-top: 32px; }

.form-row {
  display: block;
  padding: 8px 0; }

.button {
  display: inline-block;
  padding: 5px 10px;
  background: #000;
  color: #fff;
  text-decoration: none;
  border: 1px solid black;
  line-height: normal; }
  .button:hover, .button:focus {
    background: #fff;
    color: #000; }

.top-level-header {
  font-size: 24px;
  font-weight: bold;
  line-height: 1; }

/* From H5BP: http://html5boilerplate.com/ */
.accessible-hide, .reviews-list h2 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.layout-wrapper {
  width: 640px;
  margin: 0 auto; }

.layout-full-width {
  width: 620px;
  padding: 0 10px; }

.layout-column {
  float: left;
  width: 300px;
  padding: 0 10px; }

.app-nav {
  color: white;
  float: right; }
  .app-nav > li {
    float: left;
    margin: 15px 0 0 15px; }
  .app-nav a {
    color: white;
    text-decoration: none;
    display: block; }
    .app-nav a:hover, .app-nav a:focus {
      text-decoration: underline; }

.modal-container .signup-form, .modal-container .login-form {
  width: 180px; }

.app-notify {
  position: fixed;
  z-index: 5;
  right: 0;
  top: 64px; }

.app-notifications {
  width: 0;
  overflow: visible; }
  .app-notifications > li {
    background: #000;
    color: #fff;
    margin-bottom: 4px;
    padding: 5px 10px;
    float: right;
    clear: right;
    width: 220px;
    font-size: 12px; }

.app-search {
  position: relative; }
  .app-search > form {
    float: left;
    background: black;
    color: white;
    padding: 5px 10px; }
  .app-search .infield {
    color: #000;
    padding: 3px 6px; }

.book-page .book-title {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 4px; }
.book-page .book-author {
  font-style: italic;
  margin-bottom: 16px; }
.book-page p {
  margin-bottom: 16px; }
.book-page .book-published, .book-page .book-source {
  font-size: 12px; }

.dropdown {
  position: relative; }
  .dropdown > ul {
    display: none;
    position: absolute;
    right: -10px;
    top: 100%;
    padding: 10px;
    min-width: 100%;
    background: #000;
    color: #fff; }
    .dropdown > ul > li {
      margin: 0; }
  .dropdown a {
    color: #fff; }
  .dropdown:hover > ul, .dropdown:focus > ul {
    display: block; }

.app-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  display: none;
  z-index: 2; }
  .app-modal.showing {
    display: block; }

.modal-wrapper {
  position: absolute;
  background: #fff;
  padding: 40px 30px 10px 30px; }
  .modal-wrapper > .modal-close {
    position: absolute;
    z-index: 9;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    line-height: 13px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    display: block;
    background: #000;
    color: #fff;
    text-decoration: none; }
  .modal-wrapper .modal-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    background: #000;
    color: #fff;
    text-indent: 30px; }
  .modal-wrapper .modal-footer {
    width: 100%;
    padding: 0 30px;
    position: relative;
    top: 10px;
    margin-left: -30px;
    background: #000;
    color: #fff; }

.app-container .stack-book .spine-text {
  height: 24px; }

.book-preview h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
  line-height: 1; }
.book-preview h3 {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 16px; }
.book-preview p {
  margin-bottom: 16px; }

.review {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 16px; }
  .review h3 {
    font-size: 18px;
    font-weight: bold; }
  .review .star-rating {
    float: right; }

.star-rating {
  font-family: 'FontAwesome'; }

.review-comment {
  white-space: pre-wrap; }

.new-review textarea {
  height: 116px; }

.new-shelf-form {
  position: relative;
  text-align: right; }
  .new-shelf-form input[type="text"] {
    width: 200px;
    display: inline-block; }
  .new-shelf-form label.infield {
    padding: 4px 6px; }

.shelves-list {
  margin-top: 32px; }

.shelf-overview {
  margin-bottom: 24px; }
  .shelf-overview.editing .shelf-overview-content {
    display: none; }

.update-shelf-form {
  display: none; }
  .shelf-overview.editing .update-shelf-form {
    display: block; }

.shelf-overview-header {
  background: #000;
  color: #fff;
  margin-bottom: 8px; }
  .shelf-overview-header > h3 {
    float: left;
    padding-left: 5px;
    font-size: 18px;
    font-weight: bold; }
    .shelf-overview-header > h3 a {
      color: #fff;
      text-decoration: none; }

.shelf-actions {
  float: right; }
  .shelf-actions li {
    float: right;
    margin-right: 5px; }
  .shelf-actions a {
    font-family: 'FontAwesome';
    color: #fff;
    text-decoration: none; }

.stackview .stack-item-delete {
  font-family: 'FontAwesome';
  position: absolute;
  display: block;
  right: -24px;
  top: 50%;
  margin-top: -12px;
  cursor: pointer; }

.user-settings {
  width: 180px; }
  .user-settings .delete-user {
    position: absolute;
    right: 0;
    top: 0;
    font-family: 'FontAwesome'; }
