<% var currentUser = helpers.currentUser(); %>

<div class="book-page">
  <div class="layout-wrapper">
    <div class="layout-column book-main">
      <h2 class="book-title"><%= model.get('title') %></h2>
      <h3 class="book-author"><%= model.get('creator') %></h3>
      <p class="book-description"><%= model.get('description') %></p>

      <% if (model.get('viewer_url')) { %>
        <p class="book-viewer">
          <a href="<%= model.get('viewer_url') %>" target="_blank" class="button">Read Book</a>
        </p>
      <% } %>

      <% if (currentUser) { %>
        <form action="#" method="post" class="add-to-shelf-form">
          <label for="push_shelf_id">Add to Shelf</label>
          <select name="shelf_id" id="push_shelf_id">
            <% _.each(currentUser.get('shelves'), function(shelf) { %>
              <option value="<%= shelf.id %>"><%= shelf.name %></option>
            <% }); %>
          </select>
          <input type="submit" value="Add" class="button">
        </form>
      <% } %>
    </div>

    <div class="book-meta layout-column">
      <% if (model.get('cover_large')) { %>
        <img src="<%= model.get('cover_large') %>" alt="" class="cover_large">
      <% } %>

      <% if (model.get('publisher')) { %>
        <p class="book-published">
          <strong>Published by:</strong>
          <%= model.get('publisher') %>
        </p>
      <% } %>
      
      <% if (model.get('source_url')) { %>
        <p class="book-source">
          <strong>Source:</strong>&nbsp;<a href="<%= model.get('source_url') %>"><%= model.get('source_url') %></a>
        </p>
      <% } %>

      <% var subjects = model.get('subjects') %>
      <% if (subjects && subjects.length) { %>
        <div class="book-subjects">
          <h3>Subject Shelves</h3>
          <ul>
            <% _.each(subjects, function(subject, index) { %>
              <li><a href="#search/subject/<%= subject %>" class="button"><%= subject %></a></li>
            <% }); %>
          </ul>
        </div>
      <% } %>
    </div>
  </div>

  <div class="book-reviews layout-full-width"></div>
</div>