<% var currentUser = helpers.currentUser(); %>

<div class="book-page layout-full-width">
  <h2 class="book-title"><%= model.get('title').join(' - ') %></h2>
  <h3 class="book-author"><%= model.get('creator') %></h3>

  <p class="book-description"><%= model.get('description') %></p>

  <p class="book-published">Published by: <%= model.get('publisher').join('; ') %></p>

  <% if (model.get('dplaLocation')) { %>
    <p class="book-source">Source:
      <a href="<%= model.get('dplaLocation') %>">
        <%= model.get('dplaLocation') %>
      </a>
    </p>
  <% } %>

  <% if (model.get('viewer_url')) { %>
    <p class="book-viewer">
      <a href="<%= model.get('viewer_url') %>" target="_blank">Read Book</a>
    </p>
  <% } %>


  <% if (currentUser) { %>
    <form action="#" method="post" class="add-to-shelf-form">
      <label for="push_shelf_id">Shelf</label>
      <select name="shelf_id" id="push_shelf_id">
        <% _.each(currentUser.get('shelves'), function(shelf) { %>
          <option value="<%= shelf.id %>"><%= shelf.name %></option>
        <% }); %>
      </select>
      <input type="submit" value="Add" class="button">
    </form>
  <% } %>
  
  <div class="book-reviews"></div>
</div>