<div class="book-preview">
  <% if (model.get('cover_small')) { %>
    <img src="<%= model.get('cover_small') %>" class="cover_small" alt="">
  <% } %>
  <h2><%= model.get('title') %></h2>
  <h3><%= model.get('creator') %></h3>

  <p><%= model.get('description') %></p>

  <ul class="book-preview-actions">
    <li><a href="#books/<%= model.get('source_id') %>" class="button view-book">More Info</a></li>
    <% if (model.get('viewer_url')) { %>
      <li><a href="<%= model.get('viewer_url') %>" class="button read-book">Read Book</a></li>
    <% } %>
  </ul>
</div>