<div class="static-page layout-full-width">
  <h2>StackLife FAQ</h2>

  <h3>Is this a DPLA project?</h3>

  <p>No, although the DPLA generously funded its development. StackLife was. StackLife was developed independently of the DPLA as an example of how anyone can create her or his own "front end" to the DPLA's collection. That makes the DPLA especially useful, since it doesn't have to supply the single way of accessing its data. If you want to create a DPLA browser that focuses on, say, works for kids, or works about France, or works about people with your first name, the DPLA's architecture should allow that.</p>

  <h3>So, what is StackLife?</h3>

  <p>It’s a way of browsing books that always shows you books in the context of other books — or, as we usually call them, shelves. We turn the shelves sideways so you can read the spines.</p>

  <p>The initial shelf is the one you might see in a physical library. (We use the Library of Congress classification numbers to arrange them.) But StackLife also shows you all the categories the Library of Congress’ librarians have assigned the book to. Click on one of those categories and you’ll see the book with all the other books in that category.</p>

  <h3>What does the color mean? And the shape?</h3>

  <p>The deeper the color blue, the more often the work has been downloaded. This gives you a rough measure of how popular the work is. The horizontal length of the work tells you roughly how old it is: the longer the book, the longer ago it was published. The thickness of the book tells you comparatively how many pages are in it. When we don't have this information, we just use a default size.</p>

  <h3>How many books are in this collection?</h3>

  <p style="color:red; font-size:64px;">Over 800,000.</p>

  <h3>Where do the books come from?</h3>

  <p>From the collections gathered and presented freely to the world by the <a href="http://www.hathitrust.org" target="_blank">Hathi Trust</a> and <a href="http://www.openlibrary.org" target="_blank">Open Library</a>. Thank you, Hathi and Open Library!</p>

  <h3>Not from the DPLA?</h3>

  <p>It’s slightly complicated. The DPLA is in the process of taking in information about various collections of cultural and heritage items. It plans on ingesting information about books, but it has only just begun. So, for this prototype, we gathered that data ourselves. Likewise, we’re using an early version of the DPLA API (an API is the way an application like ours talks to the DPLA’s data) so that we would have it ready for the DPLA launch.</p>

  <h3>Are these books protected by copyright?</h3>

  <p>No. The works accessible are copyright free. Feel free to read them, cite them, copy from them, etc. Hathi Trust, Open Library and the DPLA deserve our thanks for putting together such great collections.</p>

  <h3>Do I have to register to use StackLife?</h3>

  <p>Not at all. You only have to register if you want to leave a review or rating, or if you want to create your own shelf of books.</p>

  <h3>How can I create a shelf?</h3>

  <p>Register. Then click on the “Shelves” link at the top right. Give it a name, and maybe a description, and add boks.</p>

  <p style="color:red; font-size:64px;">Note that you can make your shelves public, which means everyone (registered or not) can see your shelves.</p>

  <h3>When I read a book, am I using the StackLife book readers?</h3>

  <p>No, you’re using the book reader from the site where we got the information about the book. StackLife just pops that reader into a floating window.</p>

  <h3>I see that I can add books to a shelf. Are those shelves private?</p>

  <p style="color:red; font-size:64px;">You can make them private, but if you leave them public, then others will be able to learn from your example.</p>

  <h3>What are the long term plans for StackLife?</h3>

  <p>StackLife is an experiment and a prototype. The main aim is to show the power of the DPLA’s architecture: Anyone can write a new way of browsing the DPLA without asking permission. This makes the DPLA’s collection an open-ended resource for innovation.</p>

  <h3>What is the Harvard Library Innovation Lab?</h3>

  <p>We’re a small group of developers in the basement of the Harvard Law Library that gets to work on interesting, productive, and just plain cool projects that push on the edges of libraries. There’s more about us <a href="http://librarylab.law.harvard.edu/" target="_blank">here</a>. If you want to know more, you can contact us at <a href="mailto:lil@librarylab.law.harvard.edu">lil@librarylab.law.harvard.edu</a>.
</div>