<div class="layout-column">
  <div class="stackview">
    <h2>Index Stack</h2>
  </div>
</div>

<div class="layout-column">
  <div class="app-preview">
    <h2 class="welcome-header">Welcome to StackLife</h2>
    <p class="redacted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    <p class="redacted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
  </div>
</div>