<div class="index-welcome">
  <h2 class="welcome-header">Welcome to StackLife&nbsp;for&nbsp;the&nbsp;DPLA</h2>
  <p>StackLife demonstrates one way a group independent of the Digital Public Library of America can create its own way of browsing its collection, using the information made openly available by the DPLA. In this early version, you can browse a superset of books from the Hathi Trust and the Open Library that have been gathered by the DPLA.</p>

  <p>StackLife shows you a book in the shelf it would be on in a physical library. The darker the blue the more often the book has been accessed. The book’s thickness reflects the number of pages. The longer the book, the longer ago it was published.</p>

  <p>When you click on a book, StackLife shows you the subjects under which it’s been classified by librarians. Click on a subject and now you’ll see the other works in that category.</p>

  <p class="welcome-footer">StackLife was created by <a href="http://librarylab.law.harvard.edu" target="_blank">Harvard’s Library Innovation Lab</a>. Check our <a href="#faq/">Frequently Asked Questions</a> for more information. And here is our <a href="#privacy/">privacy policy</a>.</p>
</div>