<form action="#" method="post" class="login-form">
  <h2 class="modal-header">Login</h2>

  <ul class="form-errors"></ul>
  
  <div class="form-row">
    <label for="session_email">Email</label>
    <input type="email" name="session[email]" id="session_email" placeholder="email@example.com" value="">
  </div>

  <div class="form-row">
    <label for="session_password">Password</label>
    <input type="password" name="session[password]" id="session_password" value="">
  </div>

  <div class="form-row">
    <input type="submit" value="Login" class="button">
  </div>
</form>