<div class="static-page layout-full-width">

<h1>Privacy Statement</h1>

<h3>Plain language overview</h3>

<p>StackLife DPLA was created by the Harvard Library Innovation Laboratory at Harvard Law School.  We are not only a non-profit, we are a non-revenue. We will not make available to any third party information that will make your activities on this site public or visible, except if you have explicitly opted in to make some of those activities public, and as may be required by law. We are committed to respecting and protecting your personal privacy.</p>

<p>As is true for most sites, we collect limited, anonymous information from site visitors in order to measure site activity and improve the usefulness of our site. And as is true for most site, the usage information we collect may include IP address, browser type, operating system, screen size and resolution, date and time of visit, search engine and search terms, and IP-address of referring page. We collect this information on an aggregate basis only. We do not link IP addresses to any personal identifiers.</p>


<h3>Disclosure to third parties</h3>

<p>Available log records, and all stored data may be accessed by our system administrators. The system administrators may produce these records and data to the Administrative Dean, Dean of Students, or the Administrative Board, upon request or suspected violation of our terms of use. It is Harvard's policy to cooperate with law enforcement officials in the detection, investigation, and prosecution of unlawful activity. If we receive a warrant or subpoena for user information, we may disclose requested records to law enforcement authorities or outside parties seeking information through the legal process.</p>

<p>In the event that we are required by law (including a court order) to disclose the information you submit, we will provide you with notice (unless we are prohibited) that a request for your information has been made so that you may object to the disclosure. We will send this notice by email to the address you have given us. We prefer to independently object to over-broad requests for access to information about users of our site, but we cannot assure you that we will be able to do this in all cases. If you do not challenge the disclosure request yourself, we may be legally required to turn over your information.</p>

<h3>Links to independent sites</h3>

<p>The Lab site including Lab research project sites links to sites outside of the law.harvard.edu domain. The Lab is not responsible for the privacy practices or content of such sites.</p>

<h3>StackLife and third parties</h3>

<p>As is true for many Web sites, StackLife uses third party sites for some services and content. When StackLife makes a request to those services, the Hypertext Transfer Protocol used by virtually all Web sites includes the IP address of the user's machine. </p>

<p>StackLife uses Google Analytics to provide information to the Library Innovation Lab about the number and patterns of of people visiting StackLife. Google Analytics is in wide use around the Web. More information about what it tracks can be found <a href="http://www.google.com/analytics/">here</a>. If you would like to opt out of Google Analytics for all sites, please follow the instructions on <a href="http://tools.google.com/dlpage/gaoptout">this</a> page.</p>

<h3>Children</h3>

<p>The Lab site including Lab research project sites are intended for adults. We do not knowingly collect personal information from children under 13 years old. If you are a parent or legal guardian of a child under age 13 who you believe has submitted personal information to a Lab site, please contact us immediately.</p>

<h3>Questions?</h3>

<p>If you have any questions about this privacy statement, the practices of this site, or your dealings with this site, you can contact:</p>

<p>Harvard Library Innovation Laboratory<br>
Harvard Law School Library<br>
Langdell Hall, First Floor<br>
lil@law.harvard.edu<br>

<h3>Changes to this privacy statement</h3>

<p>An announcement of any changes to this privacy statement will be posted prominently on the first page of StackLife DPLA

<h3>Effective date of this privacy statement</h3>

<p>The effective date of this privacy statement is April 18. 2013.</p>

</div>