<% var currentUser = helpers.currentUser(); %>

<div class="reviews-list">
  <h2 data-reviewcount="<%= collection.length %>">Reviews</h2>
  <div class="star-rating average-rating" title="Average Rating">
    <% var averageRating = helpers.averageRating() %>
    <% if (averageRating) { %>
      <% var fullStars = Math.floor(averageRating) %>
      <% var halfStar = averageRating !== fullStars %>
      <% var emptyStars = 5 - Math.ceil(averageRating) %>

      <% _.times(fullStars, function() { %>
        <span class="star">&#xf005;</span>
      <% }); %>
      <% if (halfStar) { %> <span class="star">&#xf089;</span> <% } %>
      <% _.times(emptyStars, function() { %>
        <span class="star">&#xf006;</span>
      <% }); %>
    <% } %>
  </div>
  <% collection.each(function(review) { %>
    <div class="review" data-reviewid="<%= review.id %>">
      <% if (review.get('rating')) { %>
        <div class="star-rating">
          <% _.times(review.get('rating'), function() { %>
            <span class="star">&#xf005;</span>
          <% }); %>
          <% _.times(5 - review.get('rating'), function() { %>
            <span class="star">&#xf006;</span>
          <% }); %>
        </div>
      <% } %>

      <% if (currentUser && review.get('user').id === currentUser.get('id')) { %>
        <a href="#" class="delete-review" title="Delete Review">&#xf056;</a>
      <% } %>

      <h3><%= review.get('user').display_name %></h3>

      <% if (review.get('comment')) { %>
        <div class="review-comment"><%= review.get('comment') %></div>
      <% } %>
    </div>
  <% }); %>
</div>

<% if (currentUser && !helpers.userHasReview()) { %>
  <div class="new-review">
    <h2>Write a Review</h2>
    <form action="#" method="post">
      <ul class="form-errors"></ul>
      <div class="form-row">
        <label for="review_rating">Rating</label>
        <select name="review[rating]" id="review_rating">
          <option value="">None</option>
          <option value="1">1 star</option>
          <option value="2">2 stars</option>
          <option value="3">3 stars</option>
          <option value="4">4 stars</option>
          <option value="5">5 stars</option>
        </select>
      </div>

      <div class="form-row">
        <label for="review_comment">Comment</label>
        <textarea name="review[comment]" id="review_comment"></textarea>
      </div>

      <div class="form-row">
        <input type="submit" value="Submit" class="button">
      </div>
    </form>
  </div>
<% } %>