<div class="reviews-list">
  <h2>Reviews</h2>
  <% collection.each(function(review) { %>
    <div class="review">
      <% if (review.get('rating')) { %>
        <div class="star-rating">
          <% _.times(review.get('rating'), function() { %>
            &#xf005;
          <% }); %>
          <% _.times(5 - review.get('rating'), function() { %>
            &#xf006;
          <% }); %>
        </div>
      <% } %>

      <h3><%= review.get('user_id') %></h3>

      <% if (review.get('comment')) { %>
        <div class="review-comment"><%= review.get('comment') %></div>
      <% } %>
    </div>
  <% }); %>
</div>

<% var currentUser = helpers.currentUser(); %>
<% if (currentUser && !helpers.userHasReview()) { %>
  <div class="new-review">
    <form action="#" method="post">
      <ul class="form-errors"></ul>
      <div class="form-row">
        <label for="review_rating">Rating</label>
        <select name="review[rating]" id="review_rating">
          <option value="">None</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>

      <div class="form-row">
        <label for="review_comment">Comment</label>
        <textarea name="review[comment]" id="review_comment"></textarea>
      </div>

      <div class="form-row">
        <input type="submit" value="Submit" class="button">
      </div>
    </form>
  </div>
<% } %>