<div class="layout-column">
  <ul class="stack-layout-options">
    <li><a href="#" data-type="covers" class="<%= helpers.isActiveType('covers') %>">Covers</a></li>
    <li><a href="#" data-type="stackview" class="<%= helpers.isActiveType('stackview') %>">Stack</a></li>
  </ul>
  <div class="stack-wrapper">
  </div>
</div>

<div class="layout-column">
  <div class="app-preview">
    <p class="redacted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

    <p class="redacted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

    <p class="redacted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
  </div>
</div>