<div class="layout-wrapper">
  <h2 class="layout-column top-level-header">Shelves</h2>

  <form action="#" method="post" class="new-shelf-form layout-column">
    <input type="submit" value="+" title="New Shelf" class="button">
    <label for="shelf_name">New Shelf Name</label>
    <input type="text" name="shelf[name]" id="shelf_name">
  </form>
</div>

<div class="shelves-list">
  <% collection.each(function(shelf, ndx) { %>
    <% if (!(ndx % 2)) { %>
      <div class="layout-wrapper">
    <% } %>

    <div class="layout-column">
      <div class="shelf-overview" data-shelfid="<%= shelf.get('id') %>">
        <div class="shelf-overview-content">
          <h3><%= shelf.get('name') %></h3>
          <ul class="shelf-actions">
            <li><a href="#shelves/<%= shelf.get('id') %>" class="view-shelf"><span>&#xf06e;</span> View</a></li>
            <li><a href="#" class="edit-shelf"><span>&#xf044;</span> Edit</a></li>
            <li><a href="#" class="delete-shelf"><span>&#xf056;</span> Delete</a></li>
          </ul>
          <p><%= helpers.shelfDescription(shelf) %></p>
        </div>

        <form action="#" method="post" class="update-shelf-form">
          <div class="form-row">
            <label for="shelf_<%= shelf.get('id') %>_name">Name</label>
            <input type="text" value="<%= shelf.get('name') %>" name="shelf[name]" id="shelf_<%= shelf.get('id') %>_name">
          </div>

          <div class="form-row">
            <label for="shelf_<%= shelf.get('id') %>_descritpion">Description</label>
            <textarea name="shelf[description]" id="shelf_<%= shelf.get('id') %>_description" rows="5"><%= shelf.get('description') %></textarea>
          </div>

          <div class="form-row">
            <input type="submit" class="button" value="Update">
          </div>
        </form>
      </div>
    </div>

    <% if (ndx % 2 || ndx === collection.length - 1) { %>
      </div>
    <% } %>
  <% }); %>

  <% if (!collection.length) { %>
    <p class="layout-full-width no-shelves-message">You don't have any shelves yet. Create a new shelf above to get started.</p>
  <% } %>
</div>