<form action="#" method="post" class="signup-form">
  <h2 class="modal-header">Sign Up</h2>

  <ul class="form-errors"></ul>

  <div class="form-row">
    <label for="user_email">Email</label>
    <input type="email" name="user[email]" id="user_email" placeholder="email@example.com" value="">
  </div>

  <div class="form-row">
    <label for="user_password">Password</label>
    <input type="password" name="user[password]" id="user_password" value="">
  </div>

  <div class="form-row">
    <label for="user_password_confirmation">Confirm Password</label>
    <input type="password" name="user[password_confirmation]" id="user_password_confirmation" value="">
  </div>

  <div class="form-row">
    <input type="submit" value="Sign Up" class="button">
  </div>
</form>