<li class="stack-item stack-book heat<%= heat %>" style="width:<%= book_height %>; height:<%= book_thickness %>;">
  <a class="stack-item-link" href="#" title="<%= [title, author, year].join(', ') %>">
    <span class="spine-text">
      <span class="spine-title"><%= title %></span>
      <span class="spine-author"><%= author %></span>
    </span>
    <% if (year) { %><span class="spine-year"><%= year %></span><% } %>
    <span class="stack-pages"></span>
    <span class="stack-cover"></span>
  </a>
</li> 